.nav-link{
  font-weight: bold;
  font-size: 18px;
}

nav{
  color: #fff;
  padding: 18px;
  background-color: #606060;
  display: flex;
}

nav div.logo {
  width: auto;
  color: #efefef;
  font-weight: bold;
}
