.heading{
  padding: 10px;
  font-size: 18px;
  padding-bottom: 6px;
  color: #404040;
  font-weight: bold;
}
.sub-head{
  padding: 2px 10px;
  font-size: 13px;
}


.form{
  padding: 0px 10px;
}

.back{
  padding: 10px;

}
.send-otp-btn{
  padding: 10px;
  margin: 20px;
}

.fixed-bottom {
  position: fixed;
  bottom: 8px;
  width: 90%;
  height: 40px;
  left: 5%;
}

div.form-control.fixed-bottom{
  margin: 0px;
  display: block;

}

div.form-control.fixed-bottom button.secondary-btn-fill{
  height: 100%;
  padding: 15px;
  margin: 24px;;

}
