
.user-side-nav-conatiner{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.2);
  z-index: 100;
  top: 0px;
  transition: all 0.3s;
  display: none;
}

.side-menu{
  position: fixed;
  width: 0%;
  height: 98%;
  margin-left: 0%;
  background-color: #fff;
  top: 0px;
  z-index: 1001;
  border-bottom: 20px solid #505050;
  transition: all 0.5s;
  overflow: hidden;
  white-space: nowrap;
}


.side-menu .user{
  display: flex;
  height: 80px;
  padding: 22px;
  border-bottom: 2px solid #a0a0a0;
}

.side-menu .user .dp{
  width: 80px;
  background-color: #efefef;
  border-radius: 50%;
}

.side-menu .mohar{
  padding: 32px 12px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #505050;
  border-bottom: 1px solid #505050;
}

.side-menu .user .detail{
  flex: 1;
  align-items: center;
  padding: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.menus{
  padding: 25px 12px;

}
.menus .row{
  padding: 10px 4px;

}

.side-menu.activate-menu{
  transition: all 0.5s;
  width: 80%;
}
.show-menu{
  display: block;
}
